<?xml version="1.0"?>
<robot name="sensor_imu" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- - - - - - - - - - - - - - IMU SENSOR - - - - - - - - - - - - - -->

  <xacro:macro name ="sensor_imu" params="prefix prefix_topic:='imu/data' parent use_sim *origin">

    <link name="${prefix}link"/>

    <joint name="${prefix}joint" type="fixed">
        <axis xyz="0 1 0" />
        <xacro:insert_block name="origin" />
        <parent link="${parent}"/>
        <child link="${prefix}link"/>
    </joint>

    <!-- IMU sensor for simulation -->
    <xacro:if value="$(arg use_sim)">
      <xacro:sensor_imu_gazebo/>
    </xacro:if>

  </xacro:macro>

<!-- - - - - - - - - - - - - - IMU GAZEBO - - - - - - - - - - - - - -->

  <xacro:macro name="sensor_imu_gazebo">

    <gazebo reference="${prefix}link">  

      <sensor type="imu" name="${prefix}sensor" >

        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>
        <pose>0 0 0 0 0 0</pose>

        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>${prefix_topic}</topicName>
          <bodyName>${prefix}link</bodyName>
          <frameName>${prefix}link</frameName>
          <updateRateHZ>10.0</updateRateHZ>
          <gaussianNoise>0.0</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        
      </sensor>

  </gazebo>


  </xacro:macro>


</robot>